.container .avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.container .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container .avatar-uploader .el-upload:hover {
    border-color: #409eff;
}

.container .ad-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container .ad-uploader .el-upload img {
    max-height: 8rem;
    /* 固定高度为7rem */
    width: auto;
    /* 宽度自适应 */
    border-color: #409eff;
    display: block;
}

.avatar-uploader .el-upload img {
    max-height: 7rem;
    width: auto;
    border-color: #409eff;
    display: block;
}

.container .ad-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    min-width: 7rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
}

.container .skill-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.container .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.container .icon {
    width: 5rem;
    height: 5rem;
    width: 100%;
}